$carouselNavigationItemUnit: 72px;
$carouselNavigationItemUnitSpacer: calc(#{$carouselNavigationItemUnit} / 5);

.carouselContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0px;
  }
  &::before, &::after {
    content: '';
    display: block;
    flex: 0 0 auto;
    width: 5vw;
  }
  @include w768 {
    flex-wrap: wrap;
    overflow: auto;
    &::before, &::after {
      display: none;
    }
  }
}
.carouselContentItem {
  align-items: flex-end;
  background-color: rgb(128,128,128);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  overflow: hidden;
  transition-duration: $transitionSM;
  width: 90vw;
  & + .carouselContentItem {
    margin-left: 10vw;
  }
  @include hover {
    transform: translateY(4px);
  }
  @include w768 {
    margin-bottom: 2.5vw;
    margin-left: 2.5vw;
    width: 30vw;
    height: 60vw;
    max-height: 400px;
    & + .carouselContentItem {
      margin-left: 2.5vw;
    }
  }
  @include w1024 {
    height: 40vw;
    max-height: 480px;
  }
  @include w1440 {
    width: calc((100% / 6) - (24px + (24px / 6)));
    margin-bottom: 24px;
    margin-left: 24px;
    height: 30vw;
    max-height: 560px;
    & + .carouselContentItem {
      margin-left: 24px;
    }
  }
}
.carouselContentItemContent {
  color: $colorWhite;
  width: 100%;
  padding: 144px 12px 36px 12px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 65%, rgba(0,0,0,0) 100%);
  @include w768 {
    padding: 120px 12px 12px 12px;
  }
  @include w1024 {
    padding: 96px 12px 12px 12px;
  }
}
.carouselContentItemQuote, .carouselContentItemName, .carouselContentItemClass {
  color: inherit;
}
.carouselContentItemQuote {
  font-style: italic;
}
.carouselContentItemClass {
  font-size: 0.75em;
  font-weight: bolder;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.carouselContentItemName {
  text-transform: capitalize;
}
.carouselElement {
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  &:last-of-type {
    margin-bottom: 64px;
  }
  @include w768 {
    height: auto;
  }
}
.carouselNavigation {
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 0;
  overflow: scroll;
  padding: 0 0 $carouselNavigationItemUnitSpacer 0;
  position: absolute;
  right: 0;
  width: 100%;
  &::before, &::after {
    content: '';
    display: block;
    flex: 0 0 auto;
    width: $carouselNavigationItemUnit;
  }
}
.carouselNavgationItem {
  background-color: rgb(128,128,128);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: $carouselNavigationItemUnit;
  flex: 0 0 auto;
  height: $carouselNavigationItemUnit;
  width: $carouselNavigationItemUnit;
  & + .carouselNavgationItem {
    margin-left: $carouselNavigationItemUnitSpacer;
  }
}
.carouselProgressIndicatorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  right: calc(5vw + 12px);
  left: calc(5vw + 12px);
  bottom: 12px;
  @include w768 {
    display: none;
  }
}
.carouselProgressIndicator {
  height: 4px;
  border-radius: 4px;
  flex: 1 0 auto;
  background: $colorGray;
  & +.carouselProgressIndicator {
    margin-left: 4px;
  }
  &.active {
    background: $colorWhite;
  }
}