$carouselNavigationItemUnit: 44px;
$carouselNavigationSpacer: calc(#{$carouselNavigationItemUnit} / 4);

.carouselElement {
  border: 1px solid red;
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include w1024 {
    height: 37.5vw;
  }
  &:last-of-type {
    margin-bottom: $spaceUnitXL;
  }
}
.carouselContent {
  border: 1px solid green;
  padding: 0 16px;

}
.carouselNavigation {
  display: flex;
  flex-direction: row;
  padding: $carouselNavigationSpacer;
  overflow: scroll;
  &::after {
    content: '';
    display: block;
    flex: 0 0 auto;
    width: $carouselNavigationSpacer;
  }
}
.carouselNavgationItem {
  background-color: rgb(186, 206, 255);
  height: $carouselNavigationItemUnit;
  width: $carouselNavigationItemUnit;
  border-radius: calc(#{$carouselNavigationItemUnit} / 2);
  flex: 0 0 auto;
  & + .carouselNavgationItem {
    margin-left: $carouselNavigationSpacer;
  }
}