.carouselPaddleContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  transition: $transitionMD ease-in-out;
  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0px;
  }
  &::before, &::after {
    content: '';
    display: block;
    flex: 0 0 auto;
    width: 5vw;
  }
  & .carouselContentItem {
    align-items: flex-start;
  }
  & .carouselContentItemContent {
    padding: 40px 12px 144px 12px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 65%, rgba(0,0,0,0) 100%);
    @include w768 {
      padding: 12px 12px 120px 12px;
    }
    @include w1024 {
      padding: 12px 12px 96px 12px;
    }
  }
}
.carouselPaddleElement {
  & .carouselProgressIndicatorContainer {
    bottom: calc(120vw - 24px);
  }
  @include w768 {
    flex-wrap: wrap;
    overflow: auto;
    padding-top: 4px; // To cater for hover
    &::before, &::after {
      display: none;
    }
  }
}
.carouselPaddlePaddleContainer {
  position: absolute;
  bottom: 35%;
  transform: translateY(50%);
  display: flex;
  width: calc(100% + 24px);
  left: -12px;
  right: -12px;
  justify-content: space-between;
  @include w768 {
    display: none;
  }
}
.carouselPaddleElement {
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &:last-of-type {
    margin-bottom: 64px;
  }
  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0px;
  }
  @include w768 {
    height: auto;
  }
}
.paddleLeft, .paddleRight {
  padding: 4px;
  width: 60px;
  &.active {
    transform: scale(2.5);
    transform-origin: center center;
    & path.base {
      opacity: 0.4;
    }
  }
  &.inactive {
      opacity: 0;
      pointer-events: none;
  }
  & .base {
    fill: rgb(16,16,16);
    opacity: 0.8;
  }
}
.paddleRight {
  transform: scaleX(-1);
  &.active {
    transform: scaleX(-1) scale(2.5);
  }
}