.carouselPaddleBottomUIElement {
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  & .carouselProgressIndicatorContainer {
    bottom: 36px;
    left: 28vw;
    width: 44vw;
    justify-content: space-between;
    & .carouselProgressIndicator {
      max-width: 6px;
      max-height: 6px;
      height: 6px;;
      & +.carouselProgressIndicator {
        margin-left: 6px;
      }
    }
  }
  &.carouselPaddleContent {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    transition: $transitionLG ease-in-out;
    &::-webkit-scrollbar {
      background: transparent;
      display: none;
      width: 0px;
    }
    &::before, &::after {
      content: '';
      display: block;
      flex: 0 0 auto;
      width: 5vw;
    }
  }
  & .carouselContentItemContent {
    padding: 96px 12px 64px 12px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 65%, rgba(0,0,0,0) 100%);
    @include w768 {
      padding: 120px 12px 12px 12px;
    }
    @include w1024 {
      padding: 96px 12px 12px 12px;
    }
  }
  & .carouselPaddlePaddleContainer {
    position: absolute;
    bottom: 18px;
    transform: translateY(0%);
    touch-action: manipulation;
    display: flex;
    width: calc(90vw - 24px);
    left: calc(5vw + 12px);
    height: 44px;
    justify-content: space-between;
    @include w768 {
      display: none;
    }
  }
  &:last-of-type {
    margin-bottom: 64px;
  }
  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0px;
  }
  @include w768 {
    height: auto;
    flex-wrap: wrap;
    overflow: auto;
    padding-top: 4px; // To cater for hover
    &::before, &::after {
      display: none;
    }
  }
  .paddleLeft, .paddleRight {
    width: 44px;
    touch-action: manipulation;
    padding: 0;
    &.active {
      transform: scale(1.5);
      transform-origin: center center;
      & path.base {
        opacity: 0.4;
      }
    }
    &.inactive {
        opacity: 0.4;
        pointer-events: none;
    }
    & .base {
      fill: rgb(240,240,240);
      opacity: 0.5;
    }
  }
  .paddleRight {
    transform: scaleX(-1);
    &.active {
      transform: scaleX(-1) scale(1.5);
    }
  }
}