.carouselPaddleContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  transition: $transitionMD ease-in-out;
  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0px;
  }
  &::before, &::after {
    content: '';
    display: block;
    flex: 0 0 auto;
    width: 5vw;
  }
  @include w768 {
    flex-wrap: wrap;
    overflow: auto;
    padding-top: 4px; // To cater for hover
    &::before, &::after {
      display: none;
    }
  }
}
.carouselPaddlePaddleContainer {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  width: calc(100% + 20px);
  left: -10px;
  right: -10px;
  justify-content: space-between;
  @include w768 {
    display: none;
  }
}
.carouselPaddleElement {
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &:last-of-type {
    margin-bottom: 64px;
  }
  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0px;
  }
  @include w768 {
    height: auto;
  }
}
.paddleLeft, .paddleRight {
  padding: 4px;
  height: 56px;
  &.active {
    transform: scale(2.5);
    transform-origin: center center;
    & path.base {
      opacity: 0.4;
    }
  }
  &.deactivated {
      opacity: 0;
      pointer-events: none;
  }
  & path.base {
    fill: rgb(16,16,16);
    opacity: 0.8;
  }
}
.paddleRight {
  transform: scaleX(-1);
  &.active {
    transform: scaleX(-1) scale(2.5);
  }
}