// GENERAL
[class="callToActionContainer"] {
  & [class*="ctaText"] + [class*="ctaText"] {
    margin-left: 1.5em;
  }
}
[class*="cta"] {
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
}
[class*="Primary"] {
  color: $colorDarkMain;
}
[class*="Secondary"] {
  color: $colorGray;
}
.callToActionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & + .callToActionContainer {
    margin-top: 3em;
  }
}
.ctaLayoutVertical {
  align-items: center;
  display: flex;
  flex-direction: column;
  & [class*="cta"] + [class*="cta"] {
    margin-top: 1.5em;
  }
}
// CTA STANDARD
[class*="ctaTextStandard"] {
  -webkit-tap-highlight-color: transparent; // Safari & Chrome Negate
  display: inline-block;
  margin: 0;
  padding: 0.75em 1.25em;
  position: relative;
  transition: 60ms cubic-bezier(0, 0.4, 0.4, 1);
  user-select: none;
  &::before, &::after {
    border-radius: 3px;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 120ms cubic-bezier(0, 0.4, 0.4, 1);
  }
  &::before {
    opacity: 0;
    transform: scale(0.2,0.2);
    z-index: -10;
  }
  &::after {
    z-index: -20;
  }
  &:active {
    transform: translateY(3px);
  }
  &:focus::before, &:active::before, &.active {
    opacity: 1;
    transform: scale(1,1);
  }
  @include hover {
    &:hover::before {
      opacity: 1;
      transform: scale(1,1);
    }
  }
}
.ctaTextStandardPrimary {
  &::before {
    background: $colorLightMain;
  }
  &::after {
    border: 2px solid $colorLightMain;
  }
}
.ctaTextStandardSecondary {
  &::before {
    background: $colorLightGray;
  }
  &::after {
    border: 2px solid $colorLightGray;
  }
}
// CTA TEXT
.ctaTextOnlyPrimary, .ctaTextOnlySecondary {
  &::after {
    content: " >";
    display: inline;
  }
  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}
// CTA ICON
.ctaIconPrimary {
  align-items: center;
  display: flex;
  transition: $transitionS ease-in-out;
  flex-direction: column;
  width: 33.333%;
  margin: 0 0 2em 0;
  & .ctaIconIcon {
    height: 40px;
    width: 40px;
  }
  @include hover {
    &:hover {
      transform: translateY(-4px);
    }
  }
  @include w768 {
    width: 96px;
  }
}
.ctaIconText {
  font-family: $ffBodyCondensed;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.035em;
  margin: 0.25em 0 0 0;
  text-align: center;
  text-transform: uppercase;
}