// GENERAL
[class*="cta"] {
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  margin: 0.75em;
}
[class*="Primary"] {
  color: $colorDarkMain;
}
[class*="Secondary"] {
  color: $colorGray;
}
.callToActionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & + .callToActionContainer {
    margin-top: 3em;
  }
}
.callToActionContainerRailed {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 240px;
  @include w768 {
    width: 100%;
    min-width: 240px;
    max-width: 720px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  @include w1440 {
    padding: 0;
    min-width: initial;
    max-width: 720px;
    justify-content: center;
  }
}
// CTA STANDARD
[class*="ctaStandard"] {
  -webkit-tap-highlight-color: transparent; // Safari & Chrome Negate
  display: inline-block;
  padding: 1em 1.50em;
  position: relative;
  transition: 60ms cubic-bezier(0, 0.4, 0.4, 1);
  user-select: none;
  &::before, &::after {
    border-radius: 999px;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 120ms cubic-bezier(0, 0.4, 0.4, 1);
  }
  &::before {
    opacity: 0;
    transform: scale(0.2,0.2);
    z-index: -10;
  }
  &::after {
    z-index: -20;
  }
  &:active {
    transform: translateY(3px);
  }
  &:focus::before, &:active::before, &.active {
    opacity: 1;
    transform: scale(1,1);
  }
  @include hover {
    &:hover::before {
      opacity: 1;
      transform: scale(1,1);
    }
  }
}
.ctaStandardPrimary {
  &::before {
    background: $colorLightMain;
  }
  &::after {
    border: 2px solid $colorLightMain;
  }
}
.ctaStandardSecondary {
  &::before {
    background: $colorLightGray;
  }
  &::after {
    border: 2px solid $colorLightGray;
  }
}
// CTA ICON
.ctaStandardPrimary.ctaWithBrandIcon {
  align-items: center;
  display: inline-flex;
  flex-basis: calc(50% - 1.5em);
  justify-content: flex-start;
  padding-top: 0.55em;
  padding-bottom: 0.45em;
  @include w768 {
    flex-basis: calc(33.33% - 1.5em);
    justify-content: center;
  }
}
.ctaBrandIcon {
  fill: currentColor;
  height: 100%;
  margin: 0 0.75rem 0 0;
  width: 2rem;
  transform: translateY(-1px);
}
// CTA TEXT
.ctaTextOnlyPrimary, .ctaTextOnlySecondary {
  &::after {
    content: " >";
    display: inline;
  }
  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}
// CTA GRAPHIC
.ctaGraphicPrimary {
  align-items: center;
  display: flex;
  transition: $transitionSM ease-in-out;
  flex-direction: row;
  & svg {
    height: 40px;
    width: 40px !important; //.svg-inline--fa.fa-w-18 OVERRIDE
  }
  @include hover {
    &:hover {
      transform: translateY(-4px);
    }
  }
  @include w768 {
    flex-direction: column;
    width: calc(33.33% - 1.5em);
  }
}
.ctaGraphicText {
  margin: 0 0 0 0.75em;
  text-align: left;
  @include w768 {
    margin: 0.75em 0 0 0;
    text-align: center;
  }
}