.modalOpen {
  overflow: hidden;
}
.modalContainer {
  align-items: center;
  background: rgba(0,0,0,0.65);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  &.active {
    transition-duration: $transitionLG;
    opacity: 1;
    visibility: visible;
  }
  &.inactive {
    transition-duration: $transitionSM;
    opacity: 0;
    visibility: hidden;
  }
}
.modalElement {
  background: $colorWhite;
  border-radius: $borderRadius;
  box-shadow: $boxShadowDefault;
  max-width: 480px;
  max-height: 65vh;
  padding: 16px;
  width: 100%;
  overflow: scroll;
}
.modalHeader {
  margin: 0 0 0.5rem 0;
}
.modalFooter {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  p + p {
    margin: 0 0 0 1.5em;
  }
}