@charset 'utf-8';
$navigationBarUnit: 44px;
$navigationBarUnitDouble: calc(#{$navigationBarUnit} * 2);
$navigationBarUnitHalf: calc(#{$navigationBarUnit} / 2);

body.hideOverflow {
  overflow: hidden;
}

.navigationBarBody {
  background: $colorWhite;
  color: $colorBlack;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: calc(100vh - #{$navigationBarUnit});
  justify-content: flex-start;
  line-height: 1;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 $navigationBarUnitDouble 0;
  text-align: left;
  transform: translateY(-100vh);
  transition: $transitionMD cubic-bezier(0, 0, 0.9, 1);
  width: 100%;
  z-index: 970;
  @include w1024 {
    align-items: flex-start;
    border-bottom: 1px solid $colorLightGray;
    flex-direction: row;
    flex: 0 0 auto;
    height: $navigationBarUnit;
    overflow: visible;
    padding: 0;
    position: relative;
    transform: translateY(0);
  }
}
.navigationBarBody {
  & li {
    padding: $navigationBarUnitHalf 0;
    margin: 0 $navigationBarUnitHalf;
    border-bottom: 1px dashed $colorLightGray;
    &:last-of-type {
      border-bottom: 0;
    }
    &:not([data-nav-sub-body-function='parent']):hover {
      text-decoration: underline;
    }
    &[data-nav-sub-body-function='parent'] {
      flex-direction: column;
      &:hover .navigationBarSubBody {
        display: initial;
      }
    }
    &[data-nav-sub-body-function='child'] {
      padding: $navigationBarUnitHalf 0;
      margin: 0 $navigationBarUnitHalf;
      border-bottom: 1px dashed $colorLightGray;
    }
  }
  & .desktopAngleIcon {
    display: none;
  }
  & .desktopLogo {
    display: none;
    margin: 0;
    padding: 12px;
    flex: 1 0 auto;
  }
  &.overflowYHidden {
    overflow-y: hidden;
  }
  @include w1024 {
    & li {
      align-items: flex-start;
      border-bottom: none;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: calc((#{$navigationBarUnit} - (1rem * 1.35)) / 2) $navigationBarUnitHalf;
      cursor: pointer;
      &:last-of-type {
        border-bottom: 0;
      }
      &[data-nav-sub-body-function='child'] {
        padding: $navigationBarUnitHalf;
        margin: 0;
      }
      &[data-nav-sub-body-function='close'] {
        display: none;
      }
    }
    & .desktopAngleIcon {
      display: initial;
    }
    & .desktopLogo {
      display: initial;
      max-height: $navigationBarUnit;
      max-width: $navigationBarUnit;
      margin: 0 $navigationBarUnitHalf;
    }
    & .mobileAngleIcon {
      display: none;
    }
  }
}

.navigationBarElement {
  background: $colorWhite;
  height: $navigationBarUnit;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  transition: $transitionMD cubic-bezier(0.5, 0, 0.5, 1);
  &.active .navigationBarHeader {
    box-shadow: $boxShadowDefault;
  }
  &.active .navigationBarBody {
    transform: translateY(0);
  }
  &.hidden {
    transform: translateY(-$navigationBarUnit);
  }
}

.navigationBarHeader {
  align-items: center;
  border-bottom: 1px solid $colorLightGray;
  color: $colorDarkGray;
  display: flex;
  background: $colorWhite;
  height: $navigationBarUnit;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: $transitionMD cubic-bezier(0, 0, 0.9, 1);
  z-index: 980;
  & li {
    fill: currentColor;
    margin: 0;
    max-height: $navigationBarUnit;
    max-width: $navigationBarUnit;
    padding: 12px;
  }
  @include w1024 {
    display: none;
  }
}

.navigationBarSubBody {
  background: $colorWhite;
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100vw);
  transition: $transitionSM cubic-bezier(0, 0, 0.9, 1);
  &.active {
    transform: translateX(0);
  }
  @include w1024 {
    background: $colorWhite;
    border-bottom: 1px solid $colorLightGray;
    border-left: 1px solid $colorLightGray;
    border-right: 1px solid $colorLightGray;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: initial;
    top: calc(#{$navigationBarUnit} - 1px);
    bottom: initial;
    right: initial;
    transform: translateX(calc(#{$navigationBarUnitHalf} * -1));
    display: none;
  }
}