@charset 'utf-8';

.navBar {
  align-items: flex-start;
  background-color: $colorBlack;
  color: $colorLight;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: $navBarUnit;
  justify-content: flex-start;
  position: fixed;
  transition: $transitionMD ease-in-out;
  width: 100%;
  z-index: 9999;
  &.active {
    height: 100%;
    & .navBarContent {
      transform: translateY(0);
    }
  }
}
.navBarContent {
  border-top: 1px solid lighten($colorGray, 5%);
  color: $colorLight;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: flex-start;
  letter-spacing: 0.02em;
  line-height: 1;
  list-style: none;
  margin: 0;
  overflow: scroll;
  padding: 0 $navBarUnit $navBarUnit $navBarUnit;
  text-align: left;
  transform: translateY(-100vh);
  transition: $transitionMD cubic-bezier(0, 0, 0.9, 1);
  width: 100%;
  & li {
    border-bottom: 1px solid lighten($colorGray, 5%);
    margin: 0;
    padding: 1.5em 0;
    transition-duration: $transitionSM;
    @include hover {
      transform: translateY(-4px);
      cursor: pointer;
    }
  }
  & li span {
    font-size: 75%;
    letter-spacing: 0.04em;
  }
  & li a {
    color: inherit;
  }
  @include w768 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & li {
      width: 47.5%;
    }
  }
  @include w1024 {
    & li {
      width: 30%;
    }
  }
  @include w1440 {
    justify-content: flex-start;
    & li {
      margin-right: 3.32%;
      width: 22.5%;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
.navBarIcons {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;;
}
.navBarIcon {
  align-items: center;
  display: flex;
  height: $navBarUnit;
  justify-content: center;
  margin: 0;
  width: $navBarUnit;
  & > svg {
    transform: scaleX(1.4);
  }
}