.defaultTableContainer,
.tableContainer {
  margin: 0 auto;
  max-width: 1120px;
  overflow-x: auto;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  &.overflowActive {
    background: linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 1.5%);
  }
}
.defaultTableElement,
.tableElement {
  font-family: $ffBody;
  border-collapse: collapse;
  border: 0;
  min-width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}
.tableHeaderCell {
  font-weight: bolder;
  font-size: 1rem;
  padding: 1.125em 1em;
  letter-spacing: .0075em;
  line-height: 1.35;
  text-align: left;
}
.tableBody {
  font-size: 1rem;
  line-height: 1.25;
}
.tableBodyRow {
  border-top: 1px dashed rgba(0,0,0,0.2);
}
.tableRowHeaderCell {
  font-weight: bolder;
  padding: 1em 1em 1em 0;
}
.tableBodyCell {
  padding: 1em;
  font-size: 1rem;
  line-height: 1.25rem;
}
.tableBodyRow:hover {
  background-color: rgba(0,0,0,.04);
}