.tileCard {
  border: 0;
  position: relative;
  &::before, &::after {
    border-radius: $borderRadius;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: $transitionSM;
  }
  &::before {
    box-shadow: $boxShadowDefault;
    opacity: 1;
  }
  &::after {
    box-shadow: $boxShadowHover;
    opacity: 0;
  }
  @include hover {
    transform: translateY(-4px);
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}
.tilesContainer {
  width: 100%;
  max-width: 1920px;;
  margin: 0 auto;
  @include w768 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include w1024 {
    justify-content: flex-start;
  }
}
.tileDateStamp {
  font-size: 0.75rem;
  bottom: 0.75em;
  content: "View More";
  left: 1.25em;
  color: $colorGray;
}
.tileElement {
  border-radius: $borderRadius;
  background: $colorWhite;
  transition-duration: $transitionSM;
  position: relative;
  & + .tileElement {
    margin-top: 1em;
  }
  @include hover {
    cursor: pointer;
  }
  @include w768 {
    margin-bottom: 1em;
    max-width: calc(50% - 0.5em);
    flex: 1 0 auto;
    & + .tileElement {
      margin-top: 0;
    }
  }
  @include w1024 {
    max-width: calc(33.333% - 0.667em);
    margin: 0 1em 1em 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include w1440 {
    max-width: calc(20% - 0.8em);
    margin: 0 1em 0 0;
    &:nth-child(3n) {
      margin-right: 1em;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
.tileElementHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tileFlat {
  border: 1px solid $colorLightGray;
  @include hover {
    transform: translateY(-4px);
  }
}
.tileFooter {
  margin: 0.25em 0 0 0;
  display: flex;
  justify-content: space-between;
}
.tileImageHorizontal {
  max-width: 35%;
  height: 35%;
  border-radius: 0 $borderRadius $borderRadius 0;
  @include w768 {
    height: initial;
  }
}
.tileImageVertical {
  border-radius: $borderRadius $borderRadius 0 0;
  display: block;
}
.tileTextBody {
  font-size: 0.875rem;
  max-height: calc(#{$mobileLineHeight} * 3em);
  overflow: hidden;
  @include w768 {
    font-size: 1rem;
    max-height: calc(#{$desktopLineHeight} * 3em);
  }
}
.tileTextContainer {
  padding: 1em 1em 0.85em 1em;
}
.tileTextContainerVerticalFullJustify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}
.tileTextHeader {
  font-size: 0.875rem;
  margin: 0 0 0.25em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include w768 {
    font-size: 1rem;
  }
}
.tileTextHeaderHorizontal {
  height: calc((#{$mobileLineHeight} * 0.875em) * 2);
  overflow: hidden;
  white-space: initial;
  @include w768 {
    font-size: 1rem;
    height: calc(0.6em + (#{$desktopLineHeight} * 3));
  }

}
.tileViewMore {
  font-size: 0.75rem;
  bottom: 0.75em;
  content: "View More";
  right: 1.25em;
  display: none;
  @include noHover {
    display: block;
  }
}