$boxShadowDefault: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24), 0 0 3px rgba(0,0,0,0.12);
$boxShadowHover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.08);

$colorWhite: rgb(255,255,255);
$colorLight: rgb(223,223,223);
$colorBlack: rgb(16, 16, 16);

$colorDarkGray: hsl(0, 8%, 16%);
$colorGray: hsl(0, 8%, 48%);
$colorLightGray: hsl(0, 8%, 80%);

$colorDarkMain: hsl(8, 88%, 48%);
$colorMain: hsl(8, 88%, 64%);
$colorLightMain: hsl(8, 88%, 80%);
// $colorDarkMain: #004e66;
// $colorMain: #00A5D5;
// $colorLightMain: hsl(194, 100%, 70%);;

$colorSub: #EED786;
$colorAccent: #EE86A8;

$ffBody: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ffBodyCondensed: "Roboto Condensed", "HelveticaNeue-CondensedBold", sans-serif;
$ffHeader: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
$fsP: 1rem;                  // BODY TEXT
$fsH1: calc(#{$fsP} * 3.00);  // PAGE HEADER / max. 1
$fsH2: calc(#{$fsP} * 2.60);    // SECTION HEADER
$fsH3: calc(#{$fsP} * 2.20); // SECTION SUB HEADER
$fsH4: calc(#{$fsP} * 1.80);  // ELEMENT HEADER
$fsH5: calc(#{$fsP} * 1.40); // ELEMENT SUB HEADER
$fsH6: calc(#{$fsP} * 1.00);    // ELEMENT CONTENT HEADER

$spaceUnitS: 3rem;
$spaceUnitM: 6rem;
$spaceUnitL: 9rem;

$navBarUnit: 44px;

$transitionS: 0.15s;
$transitionM: 0.30s;
$transitionL: 0.45s;