$boxShadowDefault: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24), 0 0 3px rgba(0,0,0,0.12);
$boxShadowHover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.08);

$colorWhite: rgb(255,255,255);
$colorLight: rgb(223,223,223);
$colorBlack: rgb(16, 16, 16);
$colorDarkGray: #333333;
$colorLightGray: #cccccc;
$colorGray: #777777;
$colorMain: #00A5D5;
$colorSub: #EED786;
$colorAccent: #EE86A8;

$ffBody: "Helvetica Neue", Helvetica, Arial, sans-serif;
$ffHeader: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fsP: 1rem;                   // BODY TEXT
$fsH1: calc(#{$fsP} * 4.48);    // PAGE BANNER
$fsH2: calc(#{$fsP} * 3.32);    // PAGE MAIN HEADER
$fsH3: calc(#{$fsP} * 2.46);    // PAGE SUB HEADER
$fsH4: calc(#{$fsP} * 1.83);    // ARTICLE MAIN HEADER
$fsH5: calc(#{$fsP} * 1.35);    // ARTICLE SUB HEADER
$fsH6: $fsP;                    // ARTICLE SECTION

$spaceUnitS: 3rem;
$spaceUnitM: 6rem;
$spaceUnitL: 9rem;

$navBarUnit: 44px;

$transitionS: 0.15s;
$transitionM: 0.30s;
$transitionL: 0.45s;