@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_mediaQuery';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_navBar';
@import '_typography';

main {
  padding-top: $navBarUnit;
}
hr {
  background: $colorLightGray;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
}
.externalLinkIcon {
  font-size: 80% !important;
  color: $colorLightGray;
  margin-left: 0.35em;
  @include tablet {
    &:hover {
      color: $colorGray;
    }
  }
}
.linksContainer {
  margin-top: 1em;
  & a {
    margin-right: 1.5em;
  }
}
.sectionContainer {
  padding: 1.25em 1em;
}