@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;900&family=Roboto:wght@300;400;900&display=swap');
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_mediaQuery';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_navBar';
@import '_typography';
@import '_cta';
@import '_tile';
@import '_modal';
@import '_carousel';
@import '_carouselScroll';
@import '_carouselSwipe';
@import '_carouselPaddle';
@import '_carouselPaddleBottomUI';
@import '_navigationBar';

body {
  touch-action: manipulation;
}
main {
  padding-top: $navBarUnit;
}
hr {
  background: $colorLightGray;
  border: 0;
  height: 1px;
  margin: 2em 0;
  width: 100%;
}
ul {
  margin: 0.5em 0;
  padding-inline-start: 1em;
}
li {
  margin: 0.65em 0;
  line-height: 1.35;
}
.dummySection {
  background-image: url("https://www.transparenttextures.com/patterns/noisy-grid.png");
  background: $colorGray;
  height: 200vh;
}
.externalLinkIcon {
  font-size: 80% !important;
  color: $colorLightGray;
  margin-left: 0.35em;
  @include w768 {
    &:hover {
      color: $colorGray;
    }
  }
}
.linksContainer {
  margin-top: 1em;
  & a {
    display: block;
    margin-right: 1.5em;
  }
}
.sectionContainer {
  padding: $spaceUnitXS;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &:last-of-type {
    padding-bottom: $spaceUnitXL;
  }
  &.noPaddingBottom {
    padding-bottom: 0;
  }
}
.sectionHeader {
  display: block;
  background: $colorBlack;
  color: $colorWhite;
  line-height: 1.35;
  padding: 0.75em 1.25em;
  margin: 6rem calc(#{$spaceUnitXS} * -1) 3rem calc(#{$spaceUnitXS} * -1);
}
.flexAlignCenter {
  align-items: center;
}
.flexDirectionColumn {
  display: flex;
  flex-direction: column;
}